<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="app/main/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Xin đi trễ</ion-title>
      <ion-buttons slot="end">
        <ion-button color="dark">
          <ion-icon name="notifications" slot="end"></ion-icon>
        </ion-button>        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

  <form #f="ngForm" (ngSubmit)="onCreateOrEdit(f)">
    <ion-list>
      <ion-row>
        <ion-col col-6> 
          <ion-item style="--padding-start: 0px;--border-width:0px;">
            <ion-label position="stacked"><ion-icon name="calendar" slot="start"></ion-icon>Chọn ngày:</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate" name="startDate" style="border: 1px solid lightgray;border-radius: 5px;padding: 0 10px;" required></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item style="--padding-start: 0px;--border-width:0px;">
            <ion-label position="stacked"><ion-icon name="time" color="medium" slot="start"></ion-icon>Thời gian trễ:</ion-label>
            <ion-select interface="popover" style="border: 1px solid lightgray;border-radius: 5px;padding: 0 10px;" value="dt-30">
              <ion-select-option value="dt-30">30 phút</ion-select-option>
              <ion-select-option value="dt-45">45 phút</ion-select-option>
              <ion-select-option value="dt-60">1 tiếng</ion-select-option>
              <ion-select-option value="dt-90">1 tiếng 30 phút</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item style="--padding-start: 0px;--inner-border-width:0px;">
        <ion-label position="stacked">
          <ion-icon name="chatbubbles" slot="start"></ion-icon>
          Lý do:
        </ion-label>
        <ion-textarea type="text" rows="6" ngModel name="lydo" style="border: 1px solid lightgray;border-radius: 10px;padding: 0 10px;" required> 
        </ion-textarea>
      </ion-item> 
      <ion-item style="--padding-start: 0px;--border-width:0px;">
        <ion-label position="stacked">
          <ion-icon name="people" slot="start"></ion-icon>
          Thông báo đến:
        </ion-label>
        <ion-input type="text" ngModel name="truongBoPhanID" style="border: 1px solid lightgray;border-radius: 10px;padding: 0 10px;" required>
        </ion-input>
      </ion-item>
    </ion-list> 
  <ion-button shape="round" color="primary" fill="outline" type="submit" block [disabled]="!f.valid">Gửi phiếu yêu cầu</ion-button>
  </form>
  </ion-content>
  